@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DM Sans';
  src: url('/assets/fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf') format('truetype-variations');
  font-weight: 100 1000;
  font-style: normal;
}

@font-face {
  font-family: 'DM Sans';
  src: url('/assets/fonts/DM_Sans/DMSans-Italic-VariableFont_opsz,wght.ttf') format('truetype-variations');
  font-weight: 100 1000;
  font-style: italic;
}

@font-face {
  font-family: 'Bricolage Grotesque';
  src: url('/assets/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf') format('truetype-variations');
  font-weight: 100 1000;
  font-style: normal;
}

@layer base {
  body {
    @apply font-sans text-lg text-neutral-0 bg-neutral-900;
  }
}

